/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  .header-left {
    margin-top: 0;
  }

  span.menu-icon {
    display: block;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
    height: auto;
    width: auto;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
